@{
   
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Email Chat App</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="~/quixlab-master/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

</head>

<body>

    <!--*******************
    Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
    Preloader end
    ********************-->
    <!--**********************************
    Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
        Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="index.html">
                    <span class="brand-title">
                        <span class="text-white">Email Chat App</span>
                    </span>
                 
                </a>
            </div>
        </div>
        <!--**********************************
        Nav header end
        ***********************************-->
        <!--**********************************
        Header start
        ***********************************-->
        @await Component.InvokeAsync("HeaderViewComponentPartial")
        <!--**********************************
        Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
        Sidebar start
        ***********************************-->
        @await Component.InvokeAsync("SidebarViewComponentPartial")
        <!--**********************************
        Sidebar end
        ***********************************-->
        <!--**********************************
        Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Email Chat App</a> 2025</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <!--**********************************
        Scripts
    ***********************************-->
    <script src="~/quixlab-master/plugins/common/common.min.js"></script>
    <script src="~/quixlab-master/js/custom.min.js"></script>
    <script src="~/quixlab-master/js/settings.js"></script>
    <script src="~/quixlab-master/js/gleek.js"></script>
    <script src="~/quixlab-master/js/styleSwitcher.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @RenderSection("Scripts", required: false)

</body>

</html>