<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label">Dashboard</li>
            <li>
                 <a href="/Profile/MyProfile" class="list-group-item border-0 text-primary p-r-0"><i class="mdi mdi-face-profile menu-icon"></i><span class="nav-text">Profile</span></a>
            </li>
            <li>
                 <a  href="/Message/CreateMessage" class="list-group-item border-0 text-primary p-r-0"><i class="icon-speedometer menu-icon"></i><span class="nav-text">Compose</span></a>
            </li>
            <li>
                <a href="/Message/Inbox" class="list-group-item border-0 text-primary p-r-0"><i class="fa fa-inbox font-18 align-middle mr-2"></i> <span class="nav-text">Inbox <span class="badge badge-primary badge-sm float-right m-t-5 ml-2 text-white">@ViewBag.inboxCount</span> </span>  </a>
            </li>
            <li>
                <a href="/Message/Sendbox" class="list-group-item border-0 text-primary p-r-0"><i class="fa fa-paper-plane font-18 align-middle mr-2"></i> <span class="nav-text">Sendbox <span class="badge badge-primary badge-sm float-right m-t-5 ml-2 text-white">@ViewBag.sendboxCount</span> </span>  </a>
            </li>
            <li>
                <a href="/Login/UserLogin" class="list-group-item border-0 text-primary p-r-0"><i class="mdi mdi-login font-18 align-middle mr-2"></i> <span class="nav-text">Login</span>  </a>
            </li>
            <li>
                <a href="/Register/CreateUser" class="list-group-item border-0 text-primary p-r-0"><i class="mdi mdi-content-save font-18 align-middle mr-2"></i> <span class="nav-text">Register</span>  </a>
            </li>
            <li>
                <a href="/Login/Logout" class="list-group-item border-0 text-primary p-r-0"><i class="mdi mdi-exit-to-app font-18 align-middle mr-2"></i> <span class="nav-text">Logout</span>  </a>
            </li>
        </ul>
    </div>
</div>